@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Readex+Pro:wght@160..700&display=swap');

.home_container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-family: 'Readex Pro', sans-serif;
}

.column_1 {
  flex: 1; 
/*  padding: 35px; */
}

.column_1 span {
  padding: 5px 15px;
  background-color: #FCA4E0;
  border-radius: 15px;
  border: none;
}

.column_1 h1 {
  font-family: 'Paytone One';
  font-size: 65px; 
  line-height: 1.2; 
  margin: 0; 
}

.column_1 .buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
}

.column_1 button {
  padding: 7px 20px;
  border-radius: 15px;
  width: 125px;
  cursor: pointer;
}

.buttons .button_solid {
  border: none;
  outline: none;
  background-color: #05CC64;
}

.buttons .button_outline {
  border: 2px solid #05CC64; 
  background-color: transparent;
}

.column_2 {
  flex: 1; 
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.column_2 .home_image {
  position: absolute;
  top: 0;
  left: 0px;
  width: 620px;
  height: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* Transition for the titles */
.titles {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.titles.hide {
    opacity: 0;
}
