@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Readex+Pro:wght@160..700&display=swap');

.navigation {
  position: fixed;
  top: 0; /* Position the navigation bar at the top of the viewport */
  width: 100%; /* Make the navigation bar span the entire width of the viewport */
  background-color: #05CC64;
  color: #000000;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Readex Pro', sans-serif;
  z-index: 1000; 
}


/* Left Side */
.logo_container {
  display: flex;
  align-items: center;
}

.logo_container img {
  width: 65px;
  height: 65px;
}

.logo_container h1 {
  margin-left: 10px; /* Add space between logo and text */
  font-size: 24px;
}

/* Right Side */
.nav_list ul {
  list-style: none;
  padding: 0; 
  display: flex;
  align-items: center;
  gap: 28px;  /* Add gap between the list items */
  margin-right: 55px; 
  margin-top: 0;
  margin-bottom: 0;
}

.nav_list li {
  cursor: pointer;
}

.nav_list li a {
  padding: 3px 7px;
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit text color from parent */
}

.nav_list .active {
  border-bottom: 2px solid #000000;
  transition: border-bottom 0.3s ease;
}